.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: fit-content;

  padding: var(--padding-sm) var(--padding-md);
  gap: var(--gap-sm);
  border-radius: var(--radius-xs);

  &__icon {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease-in-out;
  }
}

.btn--primary {
  background-color: var(--brand-color);
  color: white;
}

.btn--secondary {
  background-color: white;
  color: var(--font-primary-color);
}

.btn:hover {
  background-color: var(--hover-primary);
  color: white;
  box-shadow: -8px 8px 16px 0 rgba(0, 0, 0, 0.08);
  transform: translateY(-2px);
}

.btn--outline {
  border: 1px solid var(--stroke-primary-color);

  &:hover {
    background-color: var(--surface-inverse-hover);
    transition: 400ms ease-in-out;
  }
}

.btn--link {
  background: none;
  padding: 0;
  height: auto;
  width: auto;
}

// Color Modifier
.btn--inverse {
  color: white;
  border: 1.5px solid var(--stroke-inverse-color);
}
