@use "/styles/foundation/breakpoint" as b;

.card__wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;

      @include b.respond(sm) {
    flex-direction: row;
  }
}

.card{
    padding: 36px;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    flex: 1;
}

.card_contentWrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.subfeatures {
 display: flex;
 flex-direction: column;
 gap: 16px;
 
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding-bottom: 16px;
    span {
      display: flex;
      align-items: center;
      gap: 8px; // spacing between icon and text

      img {
        flex-shrink: 0; // prevents icon from squishing on long text
        width: 20px;
        height: 20px;
      }
    }
  }
}