
.integration__contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  background: url("/images/integrations-new.svg") center / 105% no-repeat,
  linear-gradient(101deg, #fcfeff 0%, #eef6ff 100%);
  align-items: center;
  justify-content: center;
  height: 70vh;
}
