.main_wrapper {
  display: grid;
  background:
    url("/images/flohsense_ai/spotlight_pattern.svg"),
    radial-gradient(
      66.48% 85.07% at 50.92% 100.71%,
      #b8eaf9 0%,
      rgba(184, 234, 249, 0) 86.54%
    ),
    #111827;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  border-radius: 16px;
  z-index: 1;
}

.header_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding-block: 48px;
}

// .section {
//   display: flex;
//   justify-content: center;
// }
// .main_container {
//   display: flex;
//   flex-direction: column;
//   background-color: #111827;
//   background-image: url("/images/flohsense_ai/spotlight_pattern.svg");
//   border-radius: 24px;
// }

// .container {
//   padding-top: 48px;
//   display: flex;
//   flex-direction: column;

//   background: radial-gradient(
//     66.48% 85.07% at 50.92% 100.71%,
//     #b8eaf9 0%,
//     rgba(184, 234, 249, 0) 86.54%
//   );
//   align-items: center;
//   gap: 48px;
// }

// .header {
//   display: flex;
//   flex-direction: column;
//   gap: 16px;
// }

// .title {
//   color: #fff;
//   text-align: center;
//   font-family: Inter;
//   font-size: 36px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: 120%; /* 43.2px */
//   max-width: 480px;
// }
