.hero_section {
  display: flex;
  flex-direction: row;
  padding: 100px 0 180px 0;
}

.hero--main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;

  background: radial-gradient(100% 90% at 50% 100%, #d3f6ff 0%, #fff 100%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  z-index: 999;
  bottom: 24px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.hero__image {
  position: absolute;
  width: 100vw;
  bottom: -24px;
}

.offerBanner {
  display: flex;
  border-radius: 4px;
  text-align: left;
  gap: none;
  max-width: 520px;
  width: auto;
}

.header {
  white-space: no-wrap;
}
