@use "/styles/foundation/breakpoint" as b;

.hero_section {
  display: flex;
  flex-direction: row;
  padding: 100px 0 180px 0;

}

.hero--main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;

  background: radial-gradient(100% 90% at 50% 100%, #d3f6ff 0%, #fff 100%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  z-index: 999;
  bottom: 24px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.hero__image {
  position: absolute;
  width: 100vw;
  bottom: -24px;
}

.offerBanner {
  display: flex;
  border-radius: 4px;
  text-align: left;
  gap: none;
  max-width: 520px;
  width: auto;
}

.header {
  white-space: no-wrap;
}

// -----
// New Design Direction
// -----

.hero__container {
  display: grid;
  background:linear-gradient(101deg, #FCFEFF 0%, #EEF6FF 100%);
  

   @include b.respond(sm) {
    grid-template-columns: 1fr 1fr;
    height: 75vh;
    border: 1px solid #E5E7EB;
  border-radius: 4px;
  }
}

.hero__contentWrapper{
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px 8px;
  gap: 24px;

   @include b.respond(sm) {
    padding: 86px 48px;
  }
}

.buttonWrapper{
  display:flex;
  flex-direction: row;
  gap: 8px;
}
.imageWrapper{
  display:flex;
  align-items: center;
  justify-content: center;
  width:auto;
}

