@use "/styles/foundation/breakpoint" as b;

.main_container {
  display: grid;
  justify-content: center;
  gap: 86px;
}

.head_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.features_container {
  display: grid;
  gap: 24px;

  @include b.respond(md) {
    grid-template-columns: repeat(1, 1fr 1.5fr);
  }
}

.content_wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.img_wrapper {
  border-radius: 8px;
}
