#credit-heading-update {
  font-size: 40px;
}
.creditMainContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.creditMainContent h2 {
  font-size: 32px;
  margin-bottom: 16px;
}
.creditMainContent p {
  border-left: 2px solid #00954a;
  padding-left: 16px;
  font-size: 24px;
  line-height: 30px;
}
@media (max-width: 768px) {
  #credit-heading-update {
    font-family: "Satoshi";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
  }
  .creditMainContent h2 {
    font-size: 32px;
    color: #373e4e;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
  }
  .creditMainContent p {
    font-size: 16px;
    line-height: 22px;
    color: #373e4e;
    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
  }
}

.new-collection-banner {
  max-width: 510px;
  margin-bottom: 32px;
}
.new-collection-banner h1 {
  font-size: 44px;
  display: inline;
}
.new-collection-banner h1 > span {
  color: #96d300;
}

.new-collection-banner p {
  max-width: 416px;
}

@media only screen and (max-width: 767px) {
  .collection-banner h1 {
    font-size: 28px;
  }
}
