.custom-slider {
  width: 100%;
  // max-width: 384px;
  position: relative;
}

.custom-slider input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 3px; /* Increased line width */
  background: #E9E9E9; /* Added a background color for visibility */
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.custom-slider input[type="range"]:hover {
  opacity: 1;
}

.custom-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #00954A;
  cursor: pointer;
  border-radius: 50%;
}

.custom-slider input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #00954A;
  cursor: pointer;
  border-radius: 50%;
}

.custom-slider .slider-value {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  margin-top: 0.5rem;
}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  // .custom-slider {
  //   max-width: 300px; /* Adjust max width for tablets */
  // }

  .custom-slider input[type="range"] {
    height: 4px; /* Adjust height for better visibility */
  }

  .custom-slider .slider-value {
    font-size: 0.875rem; /* Adjust font size */
  }
}

/* Small devices (mobiles, 480px and up) */
@media (max-width: 480px) {
  // .custom-slider {
  //   max-width: 250px; /* Adjust max width for mobiles */
  // }

  .custom-slider input[type="range"] {
    height: 5px; /* Adjust height for better visibility */
  }

  .custom-slider .slider-value {
    font-size: 0.75rem; /* Adjust font size */
  }
}