.CreditOffer-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 138px;
  margin-top: 80px;
}

.CreditOffer-content {
  display: flex;
  max-width: 546px;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.CreditOffer-content-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.CreditOffer-title {
  color: #222631;
  font-family: Satoshi;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px /* 120% */;
  margin: 0px;
  text-align: left;
  text-transform: none;
}
.CreditOffer-SubTitle {
  color: #222631;
  font-family: Satoshi;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  margin: 0px
}
// .CreditOffer-span {
//   text-decoration: underline;
// }

.creditOfffer-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.creditoffer-heading {
  color: #222631;
  text-align: center;
  font-family: Satoshi;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
  margin-top: 120px;
}
.image-placeholder {
  width: 1116px;
  height: 628px;
  flex-shrink: 0;
  margin: 0px 82px;
  background-color: #002211;
}
.creditoffer-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 0px 82px;
}
.creditoffer-section1,
.creditoffer-section2 {
  display: flex;
  gap: 24px;
}
.creditoffer-card {
  display: flex;
  max-width: 546px;
  width: 100%;
  padding: 48px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 16px;
  background: #fff;
}

.creditoffer-card h2 {
  color: #000;
  font-family: Satoshi;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 108.333% */
}
.creditoffer-card p {
  display: flex;
  color: #000;
  font-family: Satoshi;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0px;
  gap: 16px;
}
.cta-section p {
  color: #000;
  text-align: center;
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  margin-top: 16px;
  margin-bottom: 72px;
}
.creditOffer-newsletter-cnt > .creditOffer-newsletter-para {
  color: #51c88c;
  font-family: Satoshi;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: var(--LineHeight-Lh_40, 40px); /* 166.667% */
  margin: 0px;
}

@media (max-width: 768px) {
  .CreditOffer-header {
    flex-direction: column;
    gap: 24px;
    margin-top: 0px;
  }
  
  .creditoffer-heading {
    font-size: 24px;
    line-height: 32px;
    margin-top: 48px;
  }
  .image-placeholder {
    width: 100%;
    // height: 200px;
    margin: 0px;
  }
  .creditoffer-sections {
    margin: 0px;
  }
  .creditoffer-section1,
  .creditoffer-section2 {
    display: flex;
    flex-direction: column;
  }
  
  .cta-section p {
  
    margin-bottom: 40px;
  }
  
  .creditoffer-card{
    padding: 24px;
  }
  .video-player {
    height: 215px;
  }
}


.CreditOffer-video{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #002211;
  cursor: pointer;
  border-radius: 8px;
  max-width: 661px;
    max-height: 357px;
    width: 100%;
    height: 100%;
  
}
.video-thumbnail-creditOffer{
  height: 357px;
}

// .video-thumbnail, .image-thumbnail {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   border-radius: 8px;
// }

.video-player {
  height: 357px;
  max-width: 661px;
  width: 100%;
  border-radius: 8px;
}

.play-circle-creditOffer {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 8px;
}
