@use "../styles/foundation/reset";
@use "../styles/foundation/breakpoint" as b;
@use "../styles/foundation/typography";
@use "../styles/foundation/variables";

// Global CSS
// These are the factors that can be created inside the global css
// Section, Container, Stack(vertical), Inline(horizontal), Grid, Bg, Typography & Alignment, width, border-radius and box-shadow

// -------- //
// SECTION

section {
  position: relative;
}

// SIZES
.section {padding-block: var(--spacing-72);}
.section--sm {padding-block: var(--spacing-40);}
.section--lg {padding-block: var(--spacing-120);}

.sub--section {padding-block: var(--padding-md);}

// THEME
.section--dark {
  background-color: var(--bg-black-90);
}
.section--off-white {
  background: var(--off-White-gradient);
}
.section--green {
  background: var(--off-green-gradient);
}
// -------- //


// -------- //
  // Grid
  .grid {
    display: grid;
    gap: var(--gap-md);
  }
  .grid--2 {
    grid-template-columns: repeat(1, 1fr);
    @include b.respond(sm) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .grid--3 {
    grid-template-columns: repeat(1, 1fr);
  
    @include b.respond(sm) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .grid--4 {
    grid-template-columns: repeat(1, 1fr);
  
     @include b.respond(sm) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include b.respond(md) {
    grid-template-columns: repeat(4, 1fr);
  }
  }

  .grid--1by3{
    display: grid;
        grid-auto-flow: column;
    grid-template-columns: repeat(2, 35% 70%);
    gap: var(--gap-lg);
    height: 580px;
  }
  
  // -------- //


// -------- //
// Container
.container {
  // max-width: 1200px;
  margin-inline: auto;
  padding-inline: var(--padding-md);
}

.container--dark {
  background-color: var(--surface-dark);
}

.container--no-padding {
  padding: 0px;
}
// -------- //

// -------- //
// Stack (Vertical Spacing)
.stack {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}
.stack--tight {
  gap: var(--gap-sm);
}
.stack--loose {
  gap: var(--gap-lg);
}
.stack--extra-tight {
  gap: 4px;
}

.stack--extra-loose {
  gap: var(--gap-2xl);
}
.stack--center {
  align-items: center;
}
.stack--start {
  align-items: flex-start;
}
.stack--stretch {
  align-items: stretch;
}
.stack--spacebetween{
  justify-content: space-between;
}
.stack--full {
  width: 100%;
}

.stack--full-height{
  height: 100%;
}
// -------- //

// -------- //
// inline (Horitzontal Spacing)
.inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-md);
}
.inline--center {
  text-align: center;
}
.inline--responsive {
  
  display: flex;
  flex-direction: column;

  gap: var(--gap-md);

  @include b.respond(sm) {
    flex-direction: row;
    align-items: center;
  }
}
.inline--space-between {
  justify-content: space-between;
}

// -------- //

// -------- //

// Text Align
.text-center {
  text-align: center;
}
// -------- //


// -------- //
// Border Radius
.border-radius {
  border-radius: var(--radius-8);
}
.border-radius--sm {
  border-radius: var(--radius-4);
}
.border-radius--lg {
  border-radius: var(--radius-12);
}
// -------- //

// -------- //
// Border Radius
.full__width {
  width: 100%;
}
// -------- //

// -------- //

// Icons
.icon {
  width: 24px;
  height: 100%;

  @include b.respond(md) {
    width: 20px;
  }
}

.icon--md {
  width: 32px;
}

.icon--lg {
  width: 36px;
}

.icon--xl {
  width: 48px;
}


.icon--dark {
  color: var(--grey-700);
}
.icon--dark {
  color: var(--white);
}

.icon--container {
  padding: 4px;
  border: 1px solid #dfedea;
  border-radius: 4px;
}

.icon--container--loose {
  padding: 8px;
  border: 1px solid #dfedea;
  border-radius: 4px;
}

// Card
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--stroke-primary-color);
  padding: var(--padding-md);
  border-radius: var(--radius-8);
  transition: 400ms ease-in-out;
  height: 100%;
  background-color: white;
  gap: 12px;

  &:hover {
    top: -8px;
    left: -8px;
    transition: 400ms ease-in-out;
    box-shadow: var(--shadow--default);
  }
}
.card--loose {
  padding: var(--padding-lg);
}
.card--tight {
  padding: var(--padding-sm);
}

.card--gap-loose {
  gap: var(--gap-xl);
}

.card-wrapper {
  display: grid;
  border: 0px;

  &--2-cols {
    // grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-md);

    @include b.respond(sm) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.card--noHover {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--stroke-primary-color);
  padding: var(--padding-md);
  border-radius: var(--radius-8);
  transition: 400ms ease-in-out;
  height: 100%;
  background-color: white;
  gap: 12px;
}

// -------- //
// -- Padding -- //
.padding-2xl {
  padding: var(--padding-lg);
  @include b.respond(sm) {
    padding: var(--padding-2xl);
  }
}
// -------- //

.flex {
  display: flex;
}

.align-center {
  align-content: center;
}

.center-all {
  align-items: center;
  justify-content: center;
}

.ch25 {
  max-width: 25ch;
}
.ch20 {
  max-width: 20ch;
}
.ch30 {
  max-width: 30ch;
}

ul,
li {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

// .unordered-list {
//   padding: 0;
// }

// .list-items {
//   padding: 0;
//   margin: 0;
// }

.dot-pattern {
  background-image: url("/images/flohsense_ai/dot-pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.image-fill {
  width: 100%; /* Image scales to container width */
  max-height: 450px;
  height: 100%; /* Maintains aspect ratio */
  object-fit: cover;
}

.overflow-hidden {
  overflow: hidden;
}

.text--center{
  text-align: center;
}

.overflow-hidden {
  overflow: hidden;
}


  .horizontal-line {
  border-top: 1px solid #E5E7EB;
  width: 100%;
}

.margin-bottom {
  margin-bottom: 16px;
}

