@use "../styles/foundation/reset";
@use "../styles/foundation/breakpoint";
@use "../styles/foundation/typography";
@use "../styles/foundation/variables";

.section {
  padding-block: var(--padding-2xl);
}

.section--dark {
  background-color: var(--bg-black-90);
  color: var(--font-inverse-color);
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: var(--padding-md);
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-16);

  &--center {
    text-align: center;
  }
}
.icn {
  width: 24px;
  height: auto;
}
