.glossary-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Icon-Size-Icon-Size-24, 24px);
  padding: 72px 0 0 0;
}
.glossary-heading {
  color: var(--Color-primary_font_clr, #0a0f15);
  font-family: Satoshi;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  line-height: 64px; /* 114.286% */
  text-transform: capitalize;
}
.glossary-subHeading {
  color: var(--Color-primary_font_clr, #0a0f15);
  font-family: Satoshi;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
}
.search-section {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  margin-bottom: 86px;
  gap: 24px;
}
.search-section-header {
  display: flex;
  max-width: 438px;
  height: 48px;
  padding: 8px var(--Spacing-Spacing-16, 16px);
  align-items: center;
  gap: 7px;
  border-radius: 4px;
  border: 1px solid var(--Stroke-Color-Stroke-Color-1, #dee6e9);
  background: #fff;
}
.search-bar {
  border: none;
  outline: none;
}
.alphabet-navigation {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border: none;
  flex-wrap: wrap;
}
.alphabet-link {
  color: var(--Color-primary_font_clr, #0a0f15);
  font-family: Satoshi;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 108.333% */
  border: none;
  border-radius: 4px;
  background: var(--Hover-Color-Hover-Color-1, #fff);
}

.alphabet-section {
  display: flex;
  flex-direction: column;
  gap: 48px;

  margin-bottom: 86px;
}
.alphabet-section h2 {
  color: var(--Color-primary_font_clr, #0a0f15);
  font-family: Satoshi;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 104.167% */
  text-transform: capitalize;
}
.latest-glossary-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.latest-glossary-section h2 {
  color: var(--Color-primary_font_clr, #0a0f15);
  font-family: Satoshi;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 104.167% */
  text-transform: capitalize;
  text-align: center;
}
.latest-glossary-section-main {
  display: flex;
  align-items: flex-start;
  gap: var(--Spacing-Spacing-16, 16px);
  align-self: stretch;
  margin-bottom: 72px;
}
.latest-glossary-blog {
  width: 100%;
  height: 100%;
}
.latest-glossary-img img {
  border-radius: 8px;
}
.latest-glossary-content-title {
  color: var(--Font-Color-Primary-Black-1, #222631);
  font-family: Satoshi;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 125% */
  margin-top: 29px;
  height: 90px;
}
.latest-glossary-content-subtitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--Spacing-Spacing-16, 8px);
  flex: 1 0 0;
  margin-top: 16px;
}
.latest-glossary-content-subtitle-para1 {
  color: #373e4e;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 112.5% */
  margin: 0px;
  // max-width: 310px;
  width: 100%;
}

.alphabet-section-main {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  align-items: flex-start;
  // gap: 24px; /* Adjust the spacing between items */
  column-gap: 200px; /* Adjust the gap between the two columns as needed */
  row-gap: 24px; /* Optional: Adds spacing between each row */
}

.alphabet-section-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}
.alphabet-section-contents a {
  color: var(--Color-primary_font_clr, #0a0f15);
  font-family: Satoshi;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
}
.no-keywords {
  display: flex;
  padding: var(--Icon-Size-Icon-Size-24, 24px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--Icon-Size-Icon-Size-24, 24px);
  align-self: stretch;
  border-radius: 8px;
  border: 1px dashed var(--Stroke-Color-Stroke-Color-1, #dee6e9);
}
.no-keywords-hide {
  display: none;
}


@media (max-width: 768px) {
  .alphabet-section-main {
    display: flex;
    flex-direction: column;
  }
  .latest-glossary-section-main {
    flex-direction: column;
    gap: 48px;
  }
  .latest-glossary-content-title{
    height: auto;
  }
  // .latest-glossary-content-subtitle-para1 {
  //   max-width: 265px;
  // }
}

.back-to-top-float {
  position: fixed;
  bottom: 22px;
  right: 88px;

  display: inline-flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  background-color: #fff;
  border-radius: 100%;
  border: 1px solid var(--Font-Color-Primary-Black-1, #222631);
}

.back-to-top-float:hover {
  background: #d9d9d9;
}
