// updated work
.productHunt-fold1 {
  display: flex;
  width: 100%;
  height: 100%;
  // background-color: #002211;
  gap: 24px;
}
.productHunt-header {
  display: flex;
  background-color: #002211;
  padding: 72px 114px;
  border-radius: var(--Corner-Radius-cr_12, 12px);
}

.produvt-hunt-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.welcome-title {
  color: #fff;
  font-family: Satoshi;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
}

.productHunt-Title {
  font-family: Satoshi;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #ffffff;
  // text-transform: capitalize;
}
.productHunt-Title span {
  color: #00954a;
}
.productHunt-SubTitle {
  color: #fff;
  font-family: Satoshi;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
  letter-spacing: 0px;
}
.product-hunt-explore-btn {
  display: flex;
  padding: 12px var(--Spacing-L, 20px) 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  color: #021;
  font-weight: 500;
  line-height: 22px;
  border-radius: var(--Corner-Radius-cr_4, 4px);
  border: 1px solid #021;
  background: #f0f1f5;
  transition: all 0.3s ease;
}
.product-hunt-explore-btn:hover {
  color: var(--primary-color-g-10, #fff);
  background: #002211;
  box-shadow: 0px 4px 12px 0px rgba(150, 211, 0, 0.6);
  transition: all 0.3s ease;
}
.product-hunt-explore-btn img {
  // margin-left: 10px;
  transition: all 0.3s ease;
}
.product-hunt-explore-btn:hover img {
  content: url("/images/Redirect-roi.svg"); /* Swap the image source on hover */
}
.product-hunt-explore-btn > img:hover {
  color: var(--primary-color-g-10, #fff);
  background: #002211;
  box-shadow: 0px 4px 12px 0px rgba(150, 211, 0, 0.6);
}

.productHunt-fold2 {
  width: 100%;
  border-radius: var(--Corner-Radius-cr_8, 8px);
  border: 1px solid var(--Stroke-bold_strk_clr, #d1d3df);
  background: var(--Icon-clr_white, #fff);
}
// .book-a-demo-form-prodHunt {
//   padding: 36px;
// }
// .book-a-demo-form-prodHunt p {
//   color: var(--Color-primary_font_clr, #0a0f15);
//   text-align: center;
//   /* Title/extraLarge */
//   font-family: Satoshi;
//   font-size: var(--Font-sz_28, 28px);
//   font-style: normal;
//   font-weight: 500;
//   line-height: var(--LineHeight-Lh_36, 36px); /* 128.571% */
//   text-transform: capitalize;
// }
.demoForm-para {
  color: #373e4e;
  font-family: Satoshi;
  font-style: normal;
  line-height: 24px; /* 150% */
  letter-spacing: 0px;
}
.demoForm-para > .demoForm-para-heading {
  text-align: center;
  font-size: 16px;
  line-height: 24px; /* 150% */
  font-weight: 700;
}
.demoForm-para > .demoForm-para-heading > .demoForm-para-subHeading {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; /* 150% */
}
.offer-fold {
  display: flex;
  height: 203px;
  flex-direction: column;
  border-radius: var(--Corner-Radius-cr_8, 8px);
  border: 1px solid var(--Stroke-bold_strk_clr, #d1d3df);
}
.offer-section1 {
  display: flex;
  padding: 48px 72px;
  justify-content: space-between;
  flex-shrink: 0;
}
.offer-section1-content {
  max-width: 776px;
  gap: 15px;
}
.offer-title {
  color: #0a0f15;
  font-family: Satoshi;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}
.offer-para {
  max-width: 707px;
  color: #657084;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
}
.offer-section2 {
  max-width: 303px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
}
.offer-section2-content {
  height: 48px;
  padding: 15px 10px;
  border-radius: 3px;
  background: #00954a;
  text-align: center;
}
.productHunt-free-btn {
  border: none;
  background: #00954a;
  color: #fff;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
}
.offer-section2 p {
  border: none;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  // color: #00954a;
}
.offer-section2 p > a {
  color: #00954a;
}

.productHunt-features-fold {
  // height: 656px;
  margin-top: 78px;
  border-radius: 8px;
  background: #f0f1f5;
  border-radius: var(--Corner-Radius-cr_8, 8px);
  background: #f0f1f5;
}
.productHunt-features {
  display: flex;
  padding: 72px;
  gap: 138px;
  align-content: center;
  justify-content: space-between;
}
.productHunt-features-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;
}
.productHunt-features-left p {
  // width: 360px;
  color: #0a0f15;
  font-family: Satoshi;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.productHunt-features-right {
  // width: 318.25px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.productHunt-feature-upper,
.productHunt-feature-down {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 26px;
  flex-shrink: 0;
}
.productHunt-feature-1,
.productHunt-feature-2,
.productHunt-feature-3,
.productHunt-feature-4 {
  display: flex;
  width: 318.25px;
  height: 248px;
  padding: 36px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
  border-radius: var(--Corner-Radius-cr_8, 8px);

  border: 1px solid var(--Stroke-bold_strk_clr, #d1d3df);
  background: #fff;
}
.feature-para {
  color: var(--Color-secondary_font_clr, #373e4e);
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.us-container1-hunt {
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.us-container1-hunt span {
  color: #0a0f15;
  font-family: Satoshi;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}
.productHunt-certificate-banners {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 24px;
}
.productHunt-certificate-banners img {
  width: 92.459px;
  height: 120px;
}

.security-fold {
  border: 2px solid #f6f7f2;
  border-radius: 8px;
  // background: #f0f1f5;
}
.security-fold-content {
  display: flex;
  padding: 48px;
  background: #f0f1f5;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: space-between;
}
.security-fold-content-left {
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 230px;
  justify-content: space-between;
}
.security-fold-content-left h1 {
  color: #021;
  font-family: Satoshi;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  line-height: 36px; /* 128.571% */

  text-transform: none;
}
.security-fold-content-left p {
  color: #2f3a35;
  text-align: left;
  font-family: Satoshi;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}

.security-fold-content-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.security-logos {
  display: flex;
  gap: 30px;
  width: 100%;
  align-items: center;
}
.product-hunt-btn-mobile {
  display: none;
}

// updated css
@media (max-width: 760px) {
  .book-a-demo-form {
    border: none;
    background: #fff;
  }
}
@media (max-width: 768px) {
  .productHunt-fold2 {
    border: none;
  }
  .book-a-demo-form {
    background: #fff;
  }
  .productHunt-header {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  .produvt-hunt-content {
    padding: 36px;
  }
  .welcome-title {
    font-size: 32px;
  }
  .productHunt-Title {
    font-size: 32px;
  }
  .demoForm-para {
    text-align: center;
  }
  .bookDemo-section {
    background: #fff;
  }
  .offer-fold {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .offer-section1 {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 48px;
  }
  .productHunt-features-fold {
    height: auto;
  }
  .productHunt-features {
    padding: 0px;
  }
  .productHunt-feature-1,
  .productHunt-feature-2,
  .productHunt-feature-3,
  .productHunt-feature-4 {
    width: 100%;
  }
  .product-hunt-btn-mobile {
    display: flex;
    padding: 12px var(--Spacing-L, 20px) 12px 24px;
    background: #f0f1f5;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    margin-top: 48px;
    border-radius: var(--Corner-Radius-cr_4, 4px);
    border: 1px solid var(--Green-50, #021);
  }
  .security-fold-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 48px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    align-items: center;
  }
  .productHunt-certificate-banners {
    gap: 48px;
    flex-wrap: wrap;
  }
  .security-fold-content-left {
    text-align: center;
  }
  .security-fold-content-left h1 {
    text-align: center;
  }
  .security-fold-content-left p {
    text-align: center;
  }
  .security-logos {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .productHunt-features {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-top: 120px;
  }
  .productHunt-features-left p {
    text-align: center;
  }
  .productHunt-feature-upper,
  .productHunt-feature-down {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1342px) {
  .productHunt-features {
    flex-wrap: wrap;
    gap: 24px;
  }
  .product-hunt-explore-btn {
    display: none;
  }
  .product-hunt-btn-mobile {
    display: flex;
    padding: 12px var(--Spacing-L, 20px) 12px 24px;
    background: #fff;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    margin-top: 48px;
    border-radius: var(--Corner-Radius-cr_4, 4px);
    border: 1px solid var(--Green-50, #021);
  }
}

// privious work
@media (max-width: 1342px) {
  // .productHunt-fold1 {
  //   flex-direction: column;
  // }
  // .productHunt-fold1 > div {
  //   width: 100%;
  //   padding: 0px;
  // }
  // .welcome-subtitle {
  //   font-size: 28px;
  // }
  // .welcome-title {
  //   font-size: 28px;
  // }
  // .productHunt-Title {
  //   font-size: 32px;
  // }
  .bookDemo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50pxs;
    margin-top: 100px;
  }
}
// @media (max-width: 1342px) {
//   .productHunt-fold1 > div:first-child {
//     padding: 20px;
//   }
// }

// @media (max-width: 1367px) {
//   .productHunt-fold1 > div:last-child {
//     display: none;
//   }
// }
// .productHunt-fold1 img {
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   width: auto; /* Allow the image to adjust its width */
//   height: auto; /* Allow the image to adjust its height */
//   max-width: 100%; /* Ensure the image does not exceed the container's width */
//   max-height: 100%; /* Ensure the image does not exceed the container's height */
//   object-fit: cover; /* Scale the image to be as large as possible while ensuring its aspect ratio is maintained */
//   z-index: 1; /* Ensure the image is above other content */
// }

.bookDemo-section {
  display: flex;
  justify-self: center;
  align-items: center;
}
@media (max-width: 768px) {
  // .productHunt-fold1 img {
  //   position: static; /* Remove absolute positioning */
  //   bottom: auto;
  //   right: auto;
  //   max-width: none; /* Allow the image to be its original size */
  //   max-height: none;
  //   object-fit: unset; /* Remove object-fit */
  //   z-index: auto; /* Reset z-index */
  // }
}

.img-container img:first-child {
  left: 0px;
}

// .producthunt-fold1Title {
//   color: #00954a;
//   font-size: 24px;
//   font-style: normal;
//   font-weight: 700;
//   line-height: 32px; /* 133.333% */
//   max-width: 350px;
// }

// .producthunt-fold1SubTitle {
//   color: var(--Neutral-Color-Black-B3, #818986);
//   font-size: 20px;
//   font-style: normal;
//   font-weight: 500;
//   line-height: 24px; /* 120% */
//   opacity: 0.7;
// }

@media (max-width: 768px) {
  .producthunt-fold1SubTitle {
    color: var(--Neutral-Color-Black-B3, #818986);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
    opacity: 0.7;
  }
  .bookDemo-section {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 50pxs;
    margin-top: 100px;
  }
  // .book-a-demo-form-prodHunt {
  //   padding: 40px 24px 40px 24px;
  //   margin-bottom: 50px;
  // }
}

// .productHunt-tagLine {
//   color: #021;
//   font-size: 36px;
//   font-style: normal;
//   font-weight: 700;
//   line-height: 48px; /* 133.333% */
//   max-width: 600px;
// }

// @media (max-width: 768px) {
//   .productHunt-tagLine {
//     color: #021;
//     font-size: 28px;
//     font-style: normal;
//     font-weight: 700;
//     line-height: 36px; /* 128.571% */
//   }
// }
// .productHunt-fold2 {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   align-items: center;
//   position: relative;
// }
// .productHunt-fold2 img {
//   position: absolute;
//   top: -70px; /* Adjust the top position as needed */
//   left: 50%;
//   transform: translateX(-50%); /* Center the image horizontally */
// }

// .productHunt-fold2Title {
//   color: #96d300;
//   font-size: 24px;
//   font-weight: 700;
//   line-height: 32px;
//   letter-spacing: 0em;
//   text-align: left;
//   margin-top: 48px;
// }

// .product-folde2Para {
//   color: #eaedd6;
//   font-size: 18px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: 27px; /* 150% */
//   max-width: 440px;
// }

// .book-a-demo-txt {
//   color: var(--Neutral-Color-Black-B9, #151f1b);
//   text-align: center;
//   font-family: "Satoshi";
//   font-size: 24px;
//   font-style: normal;
//   font-weight: 600;
//   line-height: 28px; /* 116.667% */
//   padding: 40px;
// }

@media (max-width: 767px) {
  .productHunt-fold2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    position: relative;
    max-width: 300px;
  }

  .productHunt-fold1 {
    flex-direction: column;
    height: auto;
  }

  .productHunt-fold2Title {
    color: #96d300;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 141.667% */
    letter-spacing: 0.12px;
    text-transform: capitalize;
    text-align: left;
  }
  .product-folde2Para {
    color: #eaedd6;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    text-align: left;
  }
}
.productionHunt-integrations {
  border-radius: 8px;
  background: var(--Primary-Color-G10, #021);
  height: 325px;
  padding: 60px;
}
.productHunt-BannerTxt {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px; /* 150% */
  max-width: 500px;
}

.productHnt-integrationTxt {
  color: var(--L0, #f1f3e4);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 150% */
}

.productHunt-mobile {
  top: 0;
  height: 48px;
  padding: 10px 0 10px 0;
  display: none;
  @media (max-width: 768px) {
    display: inline;
  }
}

.winner-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #eaedd6;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .winner-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #eaedd6;
  }
}

.demoContainer {
  width: 100%;
}

// @media (max-width: 768px) {
//   .demoContainer {
//     max-width: 335px;
//   }
// }
.indexPage-banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.indexPage-banner img {
  width: 368px;
  height: 66.88px;
}
@media (max-width: 768px) {
  .indexPage-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .product_win {
    width: 100%;
    height: 55px !important;
  }
  .emailJS-dislay {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .indexPage-banner img {
    // width:100%;
    height: 53.91px;
  }
}

// .marquee {
//   max-width: 500px;
//   margin: 0 auto;
//   overflow: hidden;
//   white-space: nowrap;
// }
// .marquee img {
//   display: inline-block;
//   position: relative;
//   left: 100%;
//   animation: marquee 10s linear infinite;
// }

// .marquee img:nth-child(1) {
//   animation-delay: 1s;
// }
// .marquee img:nth-child(2) {
//   animation-delay: 1.5s;
// }
// .marquee img:nth-child(3) {
//   animation-delay: 2s;
// }
// .marquee img:nth-child(4) {
//   animation-delay: 2.5s;
// }
// .marquee img:nth-child(5) {
//   animation-delay: 3s;
// }

// @media (max-width: 768px) {
//   .marquee img:nth-child(1) {
//     animation-delay: 0.7s;
//   }
//   .marquee img:nth-child(2) {
//     animation-delay: 0.9s;
//   }
//   .marquee img:nth-child(3) {
//     animation-delay: 1.6s;
//   }
//   .marquee img:nth-child(4) {
//     animation-delay: 2.4s;
//   }
//   .marquee img:nth-child(5) {
//     animation-delay: 2.5s;
//   }
// }
// @keyframes marquee {
//   0% {
//     left: 100%;
//   }
//   100% {
//     left: -100%;
//   }
// }
