/* new products dropdown */
.products-dropdown {
  display: flex;
  // max-width: 877px;
  width: 100%;
  justify-content: space-between;
  padding: 24px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: #fff;
  // margin-top: 24px;
}
.products-dropdown-left,
.products-dropdown-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
}
.products-dropdown-right {
  gap: 24px;
}

.products-dropdown-left-heading,
.products-dropdown-right-heading {
  color: var(--Color-secondary_font_clr, #373e4e);
  font-family: Satoshi;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--Stroke-strk_clr, #dee6e9);
}
.products-dropdown-left-content {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 8px;
  width: 321px;
}

.products-dropdown-left-icon {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--Stroke-strk_clr, #dee6e9);
  background: #fff;
}
.products-dropdown-left-content-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}
.products-dropdown-right-content-main {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}

.products-dropdown-left-title {
  color: var(--Color-primary_font_clr, #0a0f15);
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 112.5% */
  // text-transform: capitalize;
}
.products-dropdown-left-subtitle {
  color: var(--Color-teritary_font_clr, #657084);
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
}
.products-dropdown-right-content {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Stroke-strk_clr, #dee6e9);
  background: #fff;
  width: 353px;
}
.products-dropdown-right-content-para {
  color: var(--Color-teritary_font_clr, #657084);
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  text-decoration: none;
}

.products-dropdown-left-content:hover,
.products-dropdown-right-content:hover {
  cursor: pointer;
  background: #f0f1f5;
  border-radius: 8px;
}
/* end products dropdown menu */
/* resource dropdown start here */
.resource-dropdown-left-image {
  max-width: 196px;
  max-height: 114px;
  width: 100%;
  height: 100%;
}
.resource-dropdown-right {
  display: flex;
  padding: 4px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background: #fff;
  width: 421px;
}
.resource-dropdown-right-heading {
  color: var(--Color-Brand_font_clr, #00954a);
  font-family: Satoshi;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 116.667% */
  text-transform: uppercase;
}
.resource-dropdown-right-title {
  color: var(--Color-primary_font_clr, #0a0f15);
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-align: left;
  line-height: 19px; /* 118.75% */
}
.resource-dropdown-right-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 8px;
  // width: 453px;
}
.resource-dropdown-right-subtitle {
  color: var(--Color-teritary_font_clr, #657084);
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  text-transform: capitalize;
}
.resource-dropdown-right:hover {
  cursor: pointer;
  background: #f0f1f5;
  border-radius: 8px;
}
/* resource dropdown end here */

@media (max-width: 991px) {
  .products-dropdown {
    width: 100%;
    padding: 12px 12px 24px 12px;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media ((min-width: 991px) and (max-width: 1146px)) {
  .resource-dropdown-right {
    flex-direction: column;
    align-items: flex-start;
  }
  .resource-dropdown-right-content {
    width: 321px;
  }
}
@media (max-width: 767px) {
  .resource-dropdown-right {
    flex-direction: column;
    align-items: flex-start;
  }
  .products-dropdown-right-content {
    width: 100%;
  }
  // .resource-dropdown-right-content{
  //   width: 321px;
  // }
  .products-dropdown-left-title {
    font-size: 14px;
  }
  .products-dropdown-left-subtitle {
    font-size: 12px;
  }
}
@media (max-width: 991px) {
  .resource-dropdown-right {
    flex-direction: column;
    align-items: flex-start;
    width: 321px;
  }
  .products-dropdown-right-content {
    width: 100%;
  }
}

@media ((min-width: 991px) and (max-width: 1300px)) {
  .navbar-area nav .navbar-nav .nav-item .dropdown-menu {
    left: -275px;
  }
  .products-dropdown-right-content {
    width: 250px;
  }
}

#section-0,
#section-1,
#section-2,
#section-3 {
  scroll-margin-top: 100px; /* Adjust based on the height of your sticky header */
}
