.roi-calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 2% 5%; /* Adds padding to the container */
}

.upperMargin {
  margin-top: 120px; /* Adjusts margin for top spacing */
}

.header-section {
  width: 100%;
  max-width: 747px;
  height: 160px;
  text-align: center;
  margin-top: 30px;
}

.header-section p {
  color: #00954a;
  font-family: Satoshi;
  font-size: 24px; /* Uses rem for responsive font size */
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
}

.header-section h1 {
  color: #0c1612;
  font-family: Satoshi;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  // text-transform: capitalize;
}

.savings-output {
  width: 100%;
  // max-width: 516px;
  height: 162px;
  /* color: #3A4641; */
  text-align: center;
  font-family: Satoshi;
  /* font-size: 1.5rem; */
  /* line-height: 1.2; */
  margin-top: 40px;
}
.savings-output p {
  max-width: 100%;
  color: #3a4641;
  /* text-align: center; */
  /* font-family: Satoshi; */
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
}
.savings-result {
  color: #00954a;
  font-family: Satoshi;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
}

.business-details-section {
  width: 100%;
  // max-width: 888px;
  max-width: 1048px;
  height: 432px;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  margin-top: 40px;
}

.min-max-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.min-value,
.max-value {
  color: var(--Neutral-Color-Black-B4, #5c6662);
  font-family: Satoshi;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 111.111% */
}

.input-heading {
  color: var(--Neutral-Color-Black-B10, #0c1612);
  text-align: center;
  font-family: Satoshi;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 128.571%;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.Breakdown-heading {
  margin-top: 40px;
}
.input-rows-container {
  width: 100%;
  height: 452px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: 24px;
  justify-content: flex-start;
  // padding: 2%; /* Adds padding to the section */
}
.first-input-row,
.second-input-row {
  width: 100%;
  height: 162px;
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
  color: #fff;
  justify-content: center;
}
.second-input-row {
  width: 100%;
  height: 162px;
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
  color: #fff;
  justify-content: center;
}

.input-column1,
.input-column2,
.input-column3,
.input-column4 {
  width: 100%;
  // max-width: 384px;
  // height: 166px;
  display: flex;
  padding: 24px;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fff;
  align-items: center;
  color: var(--Neutral-Color-Black-B4, #5c6662);
  text-align: center;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  justify-content: center;
}

label {
  color: var(--Neutral-Color-Black-B4, #5c6662);
  text-align: center;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
}

.business-quantity {
  color: #0c1612;
  text-align: center;
  font-family: Satoshi;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
}

.dso-reduction-section {
  // width: 72%;
  // max-width: 888px;
  max-width: 1048px;
  height: 166px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 38px;
}

.dso-reduction-description {
  width: 100%;
  max-width: 426px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  font-family: Satoshi;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #0c1612;
}

.dso-reduction-description p {
  color: var(--Neutral-Color-Black-B10, #0c1612);
  font-family: Satoshi;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.dso-reduction-description p span {
  color: var(--Neutral-Color-Black-B10, #0c1612);
  font-family: Satoshi;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.dso-reduction-options {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dso-reduction-button {
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0c1612;
  text-align: center;
  font-family: Satoshi;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.dso-reduction-button.selected {
  background-color: #00954a;
  color: #fff; /* Changes text color to white for better contrast */
}

.business-details-output {
  width: 80%;
  padding: 2%;
  border-radius: 8px;
  background: #f6f7f2;
  margin: 2% 0; /* Adds vertical margins */
}
.savings-breakdown-section {
  width: 100%;
  flex-shrink: 0;
  border-radius: 8px;
  margin-bottom: 48px;
}

.breakdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  background: #f6f7f2;
}
.left-breakdown {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.right-breakdown {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.breakdown-row1 {
  // width: 462px;
  height: 118px;
  text-align: right;
  // margin-left: 49px;
}
.breakdown-row2 {
  // width: 462px;
  height: 104px;
  text-align: right;
}
.breakdown-row3 {
  width: 291px;
  height: 118px;

  // margin-right: 291px;
}
.breakdown-row4 {
  width: 323px;
  height: 104px;
  // margin-right: 187px;
}

.yearly-savings {
  color: #00954a;
  font-family: Satoshi;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
}

.monthly-loss {
  color: #c0463d;
  font-family: Satoshi;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.breakdown-container p {
  color: #021;
  font-family: Satoshi;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 116.667% */
  gap: 16px;
}

.efficiency-savings,
.dso-savings {
  font-family: Satoshi;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #021;
}

// .breakdown-row1,
// .breakdown-row2,
// .breakdown-row3,
// .breakdown-row4 {
//   padding: 16px;
// }

.vertical-line {
  width: 0px;
  height: 268px;
  /* position: absolute; */
  /* left: 52%; */
  /* transform: translateX(-50%); */
  border-left: 2px solid #e9e9e9;
  margin: 48px;
}

// updated work

.roi-analysis {
  max-width: 100%;
  height: 340px;
  padding: 56px;
  display: flex;
  gap: 36px;
  color: #fff;
  background-color: #002211;
  // background: url("../public/images/Pattern.png"), #002211;
  border-radius: 8px;
}
.roi-analysis-left {
  max-width: 643px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 36px;
  align-self: stretch;
  color: #fff;
}
.analysis-contant {
  color: #fff;
  font-family: Satoshi;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 133.333% */
}
.input-factors-heading {
  color: #09c266;
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  text-transform: uppercase;
  gap: 16px;
}
.input-factor {
  display: flex;
  gap: 16px;
}
.factor {
  color: #fff;
  font-family: Satoshi;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}
.factor img {
  margin-right: 8px;
}
.roi-analysis-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #fff;
  font-family: Satoshi;
  font-size: 15px;
  text-transform: capitalize;
}
.roi-customInput {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  color: #5c6662;
  font-family: Satoshi;
  border-radius: 8px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 153.333% */
  letter-spacing: 0.3px;
  text-align: center;
}
.roi-customButton {
  width: 490px;
  height: 48px;
  background: #00954a;
  border-radius: 8px;
  border: none;
  margin-right: 16px;
  color: #fff;
  font-family: Satoshi;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.5px; /* 150% */
  text-transform: capitalize;
}

// /* Small devices (mobiles, 480px and up) */
@media (max-width: 767px) {
  .header-section p {
    font-size: 16px;
  }
  .header-section h1 {
    font-size: 40px;
  }
  .savings-output p {
    font-size: 18px;
  }
  .savings-result {
    font-size: 48px;
  }
  .input-heading {
    margin-bottom: 48px;
  }

  //////////////////////////
  ///
  .input-rows-container {
    height: 720px; /* Fixed height for mobile version */
    display: flex;
    flex-direction: column;
    gap: 72px; /* Add spacing between rows */
  }

  /* Adjust the individual input rows for better stacking */
  .first-input-row {
    height: 312px;
    flex-direction: column;
    // margin-bottom: 48px;
  }
  .second-input-row {
    height: 312px;
    flex-direction: column;
  }
  .business-details-section {
    display: flex;
    flex-direction: column;
    height: 956px;
    margin-top: 0px;
  }
  // .input-rows-container {
  //   display: flex;
  //   height: 1056px;
  // }

  // .first-input-row {
  //   flex-direction: column;
  //   gap: 24px;
  // }
  // .second-input-row {
  //   flex-direction: column;
  // }

  ///////////////////////////////
  .dso-reduction-section {
    gap: 0px;
    height: 720px;
    flex-direction: column;
    text-align: center;
  }
  .dso-reduction-description {
    width: 290px;
    height: 264px;
  }
  .dso-reduction-options {
    max-width: 290px;
    height: 408px;
    flex-direction: column;
  }
  .dso-reduction-button {
    width: 290px;
    height: 120px;
  }

  .breakdown-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    padding: 72px 24px;
  }
  .left-breakdown,
  .right-breakdown {
    gap: 8px;
  }

  .vertical-line {
    display: none;
  }

  .breakdown-container p {
    font-size: 20px;
    text-align: center;
  }
  .breakdown-row1,
  .breakdown-row2,
  .breakdown-row3,
  .breakdown-row4 {
    text-align: center;
  }
  .breakdown-row3,
  .breakdown-row4 {
    width: 100%;
  }

  .yearly-savings,
  .monthly-loss {
    font-size: 48px;
    text-align: center;
  }
  .efficiency-savings,
  .dso-savings {
    font-size: 40px;
    text-align: center;
  }
}

@media (max-width: 384px) {
  .input-rows-container {
    gap: 96px;
  }
}

@media (max-width: 850px) {
  .yearly-savings,
  .monthly-loss {
    font-size: 48px;
    text-align: center;
  }
  .efficiency-savings,
  .dso-savings {
    font-size: 40px;
    text-align: center;
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  .dso-reduction-description {
    width: 100%;
  }
}

// updated work
@media (max-width: 500px) {
  .roi-analysis {
    flex-direction: column;
    height: 796px;
  }
  .analysis-contant {
    font-size: 28px;
  }
  .input-factor {
    flex-direction: column;
  }
  .factor {
    font-size: 16px;
  }
}

@media (min-width: 500px) and (max-width: 650px) {
  .roi-analysis {
    flex-direction: column;
    height: 710px;
  }
  .input-factor {
    flex-direction: column;
  }
}

@media (min-width: 650px) and (max-width: 1050px) {
  .roi-analysis {
    flex-direction: column;
    height: 560px;
  }
  // .input-factor{
  //   flex-direction: column;
  // }
}
